<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <% include ./partials/navbar %>

  <div class="container">
    <form action="/createAccount" method="POST">
        <div class="form-group">
          <label for="usernameInput">Användarnamn</label>
          <input type="text" class="form-control" id="usernameInput" name="usernameInput">
        </div>
        <div class="form-group">
            <label for="emailInput">Email address</label>
            <input type="email" class="form-control" id="emailInput" name="emailInput">
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" class="form-control" id="passwordInput" name="passwordInput">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <% include ./partials/scripts %>
  <script src="/javascripts/createAccountClient.js"></script>
</body>

</html>