<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <% include ./partials/navbar %>


    <div class="container">
        <h1 class="display-4">Restauranger</h1>
        <div class="list-group">
            <% for (restaurant of restaurants) { %>

            <a href="/restaurants/restaurant/<%= restaurant.name %>" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><%= restaurant.name %></h5>
                  <h5 class="mb-1">Betyg: <%= restaurant.avgRating %> / 5</h5>
                </div>
                <p class="mb-1">asdfa</p>
                <p class="mb-1">asdfa</p>
              </a>
            <% } %>
        </div>
    </div>

    <% include ./partials/scripts %>
</body>

</html>